In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers.

Has smoking habit changed? (95% confidence)

In [2]:
stats.binom_test(14, 100, p=0.21, alternative='two-sided')

0.10920815720825927

## Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers.

Has smoking habit reduced at 95% confidence? (one tail)

In [3]:
stats.binom_test(14, 100, p=0.21, alternative='less')

0.05042460221552124

In [5]:
df = pd.read_csv('Smokers.csv')
df

          Name Smokers
0     Person 1      No
1     Person 2      No
2     Person 3      No
3     Person 4     Yes
4     Person 5      No
..         ...     ...
95   Person 96      No
96   Person 97      No
97   Person 98      No
98   Person 99      No
99  Person 100      No

[100 rows x 2 columns]

In [ ]:
# Now I want to know how many smokers and non-smokers are there

In [7]:
smk = df.groupby('Smokers').count()
smk

         Name
Smokers
No         86
Yes        14

# reindex the row

In [9]:
smk = smk.reindex(['Yes', 'No'])
smk

         Name
Smokers
Yes        14
No         86

In [10]:
stats.binom_test(smk, p=0.21)

array([0.10920816])