In [20]:
import pandas as pd
import numpy as np

In [21]:
mydays = ['Sun', 'Mon', 'Tues']
myexp = [34, 44, 29]

In [22]:
type(myexp)

list

In [ ]:
#Now I want to make an array out of this list
#using np.array to convert the list into array

In [30]:
a_mydays = np.array(mydays)
a_myexp = np.array(myexp)

In [31]:
type(a_myexp)

numpy.ndarray

In [32]:
pd.Series(a_myexp)

0    34
1    44
2    29
dtype: int32

In [26]:
pd.Series(myexp)

0    34
1    44
2    29
dtype: int64

In [35]:
s_myexp = pd.Series(data=myexp, index=mydays)
s_myexp

Sun     34
Mon     44
Tues    29
dtype: int64

In [33]:
a_myexp[1]

44

In [36]:
s_myexp[0]

C:\Users\USER\AppData\Local\Temp\ipykernel_12072\1423570822.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s_myexp[0]

34

In [37]:
s_myexp['Mon']

44

In [38]:
s_myexp.index

Index(['Sun', 'Mon', 'Tues'], dtype='object')