In [1]:
import numpy as np
import pandas as pd

In [2]:
my_nums = np.arange(1,10)
my_nums

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
my_nums = np.arange(1,10).reshape(3, 3)
my_nums

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
pd.DataFrame(my_nums)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
my_index = ['Row1', 'Row2', 'Row3']

In [6]:
my_col  = ['Col1', 'Col2', 'Col3']

In [7]:
df = pd.DataFrame(data = my_nums, index = my_index, columns = my_col)
df

      Col1  Col2  Col3
Row1     1     2     3
Row2     4     5     6
Row3     7     8     9

In [8]:
pd.DataFrame({'A' : [1, 2, 3], 'B' : [4, 5, 6] }, index = ['first', 'second', 'third'])

        A  B
first   1  4
second  2  5
third   3  6

# Create a Pandas DataFrame using the list of days (found in variable my_days) and the list of temperatures (found in variable my_temps).

my_days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
my_temps = [20, 21, 20, 19, 16, 22, 20]
my_days should be the index to this DataFrame and there should be one column containing the temperatures. Assign this DataFrame to the variable answer.

In [9]:

import pandas as pd
my_days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
my_temps = [20, 21, 20, 19, 16, 22, 20]

In [10]:
answer = pd.DataFrame(data = my_temps, index = my_days)
answer

            0
Sunday     20
Monday     21
Tuesday    20
Wednesday  19
Thursday   16
Friday     22
Saturday   20

In [11]:
answer = pd.DataFrame(data = my_temps, index = my_days, columns = ['Temperature'])
answer

           Temperature
Sunday              20
Monday              21
Tuesday             20
Wednesday           19
Thursday            16
Friday              22
Saturday            20