In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Piece_Dim.csv')
df.head()

  Item_No  Length  Width  Height Operator
0  Item-1  102.67  49.53   19.69     Op-1
1  Item-2  102.50  51.42   19.63     Op-1
2  Item-3   95.37  52.25   21.51     Op-1
3  Item-4   94.77  49.24   18.60     Op-1
4  Item-5  104.26  47.90   19.46     Op-1

In [3]:
pwd

'C:\\Users\\USER\\Desktop\\UDEMY\\Statistics for Data Analysis Using Python'

# I want Item_no as index not 0, 1 ,2 3, 4 till 49

In [4]:
df = pd.read_csv('Piece_Dim.csv', index_col = 'Item_No')
df.head()

         Length  Width  Height Operator
Item_No
Item-1   102.67  49.53   19.69     Op-1
Item-2   102.50  51.42   19.63     Op-1
Item-3    95.37  52.25   21.51     Op-1
Item-4    94.77  49.24   18.60     Op-1
Item-5   104.26  47.90   19.46     Op-1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Item-1 to Item-50
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Length    50 non-null     float64
 1   Width     50 non-null     float64
 2   Height    50 non-null     float64
 3   Operator  50 non-null     object
dtypes: float64(3), object(1)
memory usage: 2.0+ KB

In [6]:
df.describe()

           Length      Width     Height
count   50.000000  50.000000  50.000000
mean   100.128800  49.461400  20.014000
std      5.075593   2.615639   1.074069
min     89.820000  44.460000  17.370000
25%     95.675000  48.105000  19.375000
50%     99.830000  49.315000  19.930000
75%    104.402500  50.780000  20.595000
max    110.540000  55.760000  23.110000